version: "3.9"
services:
  react-dev:
    build:
      context: ./
    container_name: react-dev
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
